#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-list {
  font-size: 20px;
  text-align: left;
  list-style-type: none;
}

.list-item {
  display: flex;
  gap: 10px;
}